.myModal{
    background-color: rgba(252, 243, 181, 1);
    width: 300px;
    height: 250px;
    padding: 10px 20px;
    margin: 20% auto;
    position: sticky;
  }
  
  .modalContent{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
    transition: all 1s;
    height: 100%;
  }
  
