.wall{
    width: 100%;
    display: flex;
    flex-wrap:  wrap;
    height: 100%;
}
.containerOne{
    text-align: center;
    width: 36%;
    background-color: #FFA5D8;
    margin: 2vh;
}
@media (max-width: 508px ) {
    .containerOne{
        text-align: center;
        width: 100%;
        margin: 2vh;
    }
    
}
.contaierTwo{
    margin: 5px;
    border: dashed palevioletred; 
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 43%;
}