h2{
    color: black;
    margin: 120px, 0px, 0px, 0px;
}

.register{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    text-align: center;
} 

.logo{
    width: 225px;
    margin-right: -208px;
    margin-top: 215px;
}

.forRegister{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
}

.formu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forRegister label{
    height: 33px;
    padding: 4px;
    margin: 25px;
    width: 300px;
    border-radius: 30px;
    border: none;
    text-align: center;
}

.buttonLogin{
    width: 110px;
    height: 42px;
    border-radius: 20px 20px;
    background-color: #BE9DDF;
    border: solid #9579D1;
    margin-top: 22px;
}
