@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');

h2{
    color: black;
    margin: 120px, 0px, 0px, 0px;
    font-family: 'Ruluko', sans-serif;

}

.register{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #92DDEA;

} 

.logo{
    width: 225px;
    margin-right: -208px;
    margin-top: 215px;
}

.forRegister{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
}

.formu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forRegister input{
    height: 33px;
    padding: 4px;
    margin: 25px;
    width: 300px;
    border-radius: 30px;
    border: none;
    outline: none;
    text-align: center;
    font-family: 'Ruluko', sans-serif;

}

.buttonLogin{
    width: 110px;
    height: 42px;
    border-radius: 20px 20px;
    background-color: #BE9DDF;
    border: solid #9579D1;
    margin-top: 22px;
    font-family: 'Ruluko', sans-serif;

}
